<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>WEBPAGE INSERTION FORM</h1>
        <form method="POST">
            {% csrf_token %}
            <select name="topic" id="topic">
                {% for to in topic %}
                <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select><br><br>

            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br><br>

            <label for="url">Url</label>
            <input type="url" name="url" id="url"><br><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email"><br><br>

            <input type="submit" value="webpage_insertion">
            
        </form>
    </center>
</body>
</html>